* {
  margin: 0;
  padding: 0;
}
body {
  color: #666;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.container {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(192deg, #5e54f6 0%, #f6a5cb 54.14%, #c37151 100%);
  padding-top: 80px;
}
.content {
  width: 100%;
  height: auto;
  min-height: 592px;
  max-width: 328px;
  margin: 0 auto;
  background-color: white;
  border-radius: 16px;
  overflow: hidden;
}
.pin {
  margin-top: -5px;
}
.todo__list {
  list-style: none;
}
.todo__item {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 48px;
  border: #d0e5f9 1px solid;
  display: flex;
  gap: 8px;
  align-items: center;
  box-sizing: border-box;
  padding: 12px;
}

.add__btn {
  background: transparent;
  border: none;
  cursor: pointer;
}
.add__task-title {
  width: 100%;
  height: 100%;
  border: none;
}
.add__task-title:focus {
  outline: none;
}
.label {
  display: block;
  position: relative;
  padding-left: 45px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: -2px;
  left: 0;
  height: 24px;
  width: 24px;
  border: black 2px solid;
  border-radius: 3px;
}

.label input:checked ~ .checkmark {
  border: #999999 2px solid;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.label input:checked ~ .checkmark:after {
  display: block;
}
.label .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #999999;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.description {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: black;
}
.label input:checked ~ .description {
  color: #999999;
  text-decoration: line-through;
}
.delete_button {
  position: absolute;
  right: 10px;
  padding: 12px;
  background-image: url(./img/u_times.svg);
  background-color: transparent;
  border: none;
  cursor: pointer;
}
